* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.calc {
    width: 400px;
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px;
}

.screen {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: #e6e6e6;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;

}

.calc-button:hover {
    background-color: #f2f2f2;
}

.calc-button:active {
    background-color: #d9d9d9;
 
}
.calc-button:last-child {
    background-color: #00b8e6;
    color: white;

}

.calc-button:last-child:hover {
    background-color: #00ccff;
    color: white;
}

.calc-button:last-child:active {
    background-color: #00a3cc;
    color: white;
}
.double {
    width: 49.7%;
}

.triple {
    width: 74.8%;
}

.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: .5%;
}